.modal__bg {
    background: color(#222 a(0.65));
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity .3s ease-out;
    width: 100%;
    z-index: 100;

    & .modal__dialog {
        background: #fff;
        border-radius: 2px;
        margin: 10% auto;
        padding: 20px;
        position: relative;
        width: 400px;

        & h3 {
            margin: 5px 0;
        }
    }
}
