@import './variables.scss';
@import './mixins.scss';
@import './spinner.scss';
@import './styles/select.scss';
@import './styles/modal.scss';

* {
    box-sizing: border-box;
}

html, body, main {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    width: 100%;
}

#app {
    height: 100%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

// AnyTime Picker
.anytime-picker { display: none; position: absolute; top: 0; left: 0; }
.anytime-picker--is-visible { display: block; }
.anytime-picker__dates { width: 200px; }
.anytime-picker__dates > * { box-sizing: border-box; width: 14.28%; display: inline-block; }

.b-page {
    > div {
        min-height: calc(100% - 40px);
        margin: 20px ((100% - $cardSize) / 2);
        padding: 20px;
        width: $cardSize;

        > h3 {
            margin: 0;
        }

        > select {
            display: inline-block;
            max-width: 150px;
        }

        button {
            max-width: 300px;
        }
    }
}

.b-responsive-table {
    overflow-x: auto;

    > table {
        width: 100%;
    }
}

.b-actions-cell {
    min-width: 250px;

    > * {
        margin-right: 5px;
    }
}

.b--capitalized {
    text-transform: capitalize;
}

.b--clear {
    clear: both;
}

.b--center {
    text-align: center;
}

.b--fullwidth {
    width: 100%;
}

.b--inline {
    display: inline-block;
}


.b--unclickable {
    pointer-events: none;
}

.b--limitsize {
    max-width: 300px;
}

// Transitions
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s ease;
}

.fade-enter {
    opacity: 0;
}

.fade-leave-active {
    display: none;
}
